<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @photo.dish_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @photo.picture %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
